.d-fondo-blue {
    flex-grow: 2;
    position: relative;
    background: linear-gradient(290.97deg, #014170 35.58%, #0D6AAE 103.41%);
}
.login-content{

    color: #fff;
    &-title{
        font-weight: 600;
    }
    .login-content-logo{
        display: inline-flex;
        text-align:center;
        align-items: center;
    }
    .d-logo{
        display: block;
    }
    &-link a{
        color: #fff;
        
        &:hover{
            text-decoration: underline;
        }
    }
}